radio-item(data-url=url, data-name=name, data-cover=cover)
	img(loading="lazy", src=cover)
	play-button
		i ►
		b 
			span ON AIR
	details-pane
		station-name
				span=name
		station-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus leo vel placerat lobortis. Donec egestas ullamcorper lorem, non semper eros placerat eu. Cras facilisis diam sed tellus eleifend, porttitor pretium mi maximus. Praesent mi ante, vehicula vitae diam vel, bibendum porttitor est. Donec scelerisque malesuada lorem, vitae aliquam urna tincidunt vel.
		station-url
				span=url
		img-wrapper
			img(loading="lazy", src=cover)