div#player
	video(
		id="videojs-audio",
		class="video-js",
		preload="auto",
		width="0",
		height="0",
		data-setup="{}"
	)
	player-controls
		stop-button
			i.left-part
			i.right-part
		radio-name 
			i.radio-name •͡˘㇁•͡˘
			i.radio-label ___㇁
		audio-slider
			line-fill
				progress-linedark
				progress-line
				progress-linedark
			img#nyancat(src="assets/icons/nyancat.png")
		website-link
			a(target="_blank", href="#") 
				span 
					b S T A T I O N 
					i ..
				span 
					i ..
					b W E B S I T E